.hero {
    background: url(/images/hero.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
}
.hero:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgb(2 6 12 / 76%);
}
