@tailwind base;
@tailwind components;
@tailwind utilities;

.cbg {
  background: linear-gradient(
      90deg,
      rgba(13, 36, 75, 0.7987570028011204) 0%,
      rgba(13, 36, 75, 0.7987570028011204) 100%
    ),
    url("/images/testimonial.webp");
  background-position: 90% 39%;
  position: relative;
  padding: 50px 0px;
}
